<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516038985850-trkc6ni1eu11qlpft3f3oork7qfnnh9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516038985850-trkc6ni1eu11qlpft3f3oork7qfnnh9d</string>
	<key>API_KEY</key>
	<string>AIzaSyDowr3zx8rGNhr7sGKwA8o15LaVjp765U0</string>
	<key>GCM_SENDER_ID</key>
	<string>516038985850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditClone</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-1e9d7</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-1e9d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516038985850:ios:d27ac1e7ddbaa361a9d3c3</string>
</dict>
</plist>